* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#menu {
  height: 100vh;
  display: grid;
  justify-content: center;
}

#menuTitulo {
  height: 40vh;
  display: grid;
  text-align: center;
  align-items: end;
  padding-bottom: 30px;
}

#menuContenido {
  height: 60vh;
  /* display: grid; */
}

#menuContenido ol {
  justify-content: center;
  text-align: center;
  padding-bottom: 15px;
}

#menuContenido div {
  display: grid;
  justify-content: center;
  align-items: start;
}

#menuContenido div button {
  padding: 10px;
}
